@import './base/settings';
@import './base/base';
@import './partials/shared';



.bigbox{
	background-color: $bodyBgColor;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
  	justify-content: space-around;
}

.smallbox{
	background-color: $cardBgColor;
	width: 300px;
	margin: 2% 100px; 
	display: flex;
	flex-wrap: wrap;
	border-radius: 2vw;
	box-shadow:0.1vw 0.1vw 0.1vw 0.1vw;

}

.smallbox .halfbox{
	padding-left: 70px;
}

.smallbox > img{
	width: 40%;
	position: absolute;
	margin-left: -60px;
}



.smallbox h1, p{
	color: $cardTextColor;
	text-align: center;
	width: 100%;
	padding: 3%;
}

.like_button{
	  background-color: $likeButtonColor;
	  cursor: pointer;
	  border-radius: 5px;
	  padding: $s-size / 1.5;
	  border: none;
	  font-size: $s-size;
	  font-weight: 700;
	  display: inline-block;
	  width: 9em;

}

.smallbox h1, p, button{
	display: flex;
	flex-direction: column;
}


