/* Basic settings */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;	
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: $m-size;
  line-height: 1.6;
  margin: 0 auto;
}